.project-card {
    display: flex;

    .project-information {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    .project-showcase {
        align-self: center;
        display: flex;
        gap: 0.2rem;
        flex-direction: column;
    }

    .project-tags {
        display: flex;
        gap: 0.25rem;
        flex-wrap: wrap;
    }

    .project-tag {
        padding: 0.15rem;
        border: 1px solid var(--border);
        border-radius: 8px;
        font-size: smaller;
        color: var(--text-t);
    }

    img {
        border: var(--border) solid 1px;
        width: 300px;
        border-radius: 15px;
        align-self: center;
    }
}